@model IEnumerable<MVCBlog.Models.Blog>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="py-5 text-center">
        <h1>Where Ideas Come to Life</h1>
        <p>
            <a asp-action="Create" class="btn btn-primary">Share your idea</a>
        </p>
    </div>
</div>
