@model IEnumerable<MVCBlog.Models.Blog>

@{
    ViewData["Title"] = "Index";
}

<div class="container d-flex align-items-center mb-5 p-2 min-vh-100">
    <div class="row mt-4">
        <div class="col-12">
            <div class="py-5 text-left">
                <h1 class="landing-title">Empowering Health and Fitness</h1>
                <div class="landing-paragraph mt-3 mb-5">
                    <p>Welcome to Fit and Fabulous, where we empower individuals through health and fitness. Our mission is to unlock your potential and help you achieve a vibrant, active lifestyle. Whether a beginner or a fitness enthusiast, our dedicated team is here to guide you every step of the way. Join our community and embark on a transformative journey towards a healthier, fitter you. Get ready to feel empowered, inspired, and truly fit and fabulous!</p>
                </div>
                <p>
                    <a asp-action="Create" class="btn landing-button">Share your idea</a>
                </p>
            </div>
        </div>
    </div>
</div>
